body {
    background-image: none;
    background-color:#ad2e44;
}

.background-body {
    background-color: #781d4f;
}

footer {
    background-color: #781d4f;
}

a {
    color: #fa5c5c;
    /*font-weight: bold;*/
}

.paragraph-container {
    font-family: 'Lato', sans-serif;
}

@media (orientation: landscape) {
    .column-container {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .screenshot {
        width: 300px;
        border-radius: 0px;
    }

    .screenshots-container {
        max-width: 82vw;
        grid-auto-flow: column;
        overflow-x: scroll;
        gap:0%;
        justify-content: start;
        align-self: center;
    }
}